{% extends "layout.html" %}
{% block title %}
    Select cards for crib
{% endblock %}
{% block content %}

<form action="/play_cards" method = "POST">
    <table border="0">
        <tbody>
            <tr>
                <td style="text-align:center"><br /><img width="100" src="{{blank}}"</td>
                <td style="text-align:center"><br /><img width="100" src="{{blank}}"</td>
                <td style="text-align:center"><br /><img width="100" src="{{blank}}"</td>
                <td style="text-align:center"><br /><img width="100" src="{{blank}}"</td>
                <td style="text-align:center"><br /><img width="100" src="{{blank}}"</td>
                <td style="text-align:center"><br /><img width="100" src="{{blank}}"</td>
              
            </tr>
            <tr>
                <td width="100" height="100"></td>
                <td width="100" height="100"></td>
                {% if request.cookies.get('dealer_is') == 'Computer deals' %}
                <td colspan="2" height="100"><b>Computer owns crib.</b></td>
                {% else %}
                <td colspan="2" height="100"></td>
                {% endif %}
                <td width="100" height="100"></td>
                <td width="100" height="100"></td>
            </tr>
            <tr>
                <td width="100" height="100"></td>
                <td width="100" height="100"></td>
                {% if request.cookies.get('dealer_is') == 'Player deals' %}
                <td colspan="2" height="100"><b>Player owns crib.</b></td>
                {% else %}
                <td colspan="2" height="100"></td>
                {% endif %}
                <td width="100" height="100"></td>
                <td width="100" height="100"></td>
            </tr>
            <tr>
                <td style="text-align:center"><img width="100" src="{{pcn0}}">
                <br /> <input type="checkbox" name="cardNumber" value={{pc0}}></td>
                <td style="text-align:center"><img width="100" src="{{pcn1}}">
                <br /> <input type="checkbox" name="cardNumber" value={{pc1}}></td>
                <td style="text-align:center"><img width="100" src="{{pcn2}}">
                <br /> <input type="checkbox" name="cardNumber" value={{pc2}}></td>
                <td style="text-align:center"><img width="100" src="{{pcn3}}">
                <br /> <input type="checkbox" name="cardNumber" value={{pc3}}></td>
                <td style="text-align:center"><img width="100" src="{{pcn4}}">
                <br /> <input type="checkbox" name="cardNumber" value={{pc4}}></td>
                <td style="text-align:center"><img width="100" src="{{pcn5}}">
                <br /> <input type="checkbox" name="cardNumber" value={{pc5}}></td>
                <br>
            </tr>
             
        </tbody>
    </table>
    
    <input type="submit" onclick="return countCards()" value="Send two cards to crib", id="cribsubmit">
</form>

<script type="text/javascript">
    function countCards() {
        if (document.querySelectorAll('input[type="checkbox"]:checked').length != 2) {
            alert("Select exactly 2 cards!");
            return false;
        }
        else {
            cribsubmit.submit();
        }
    }
</script>

{% endblock %}

